<!-- <p>professional works!</p> -->

<!-- ------------------------------------ Personal ------------------------------------------------------>

<div class="form-group" align="center" style="margin-top: 50px;">
    <form [formGroup]="professionalPersonalFormGroup" [ngStyle]="displaypersonaldata">
        <div class="form-group">
            <h2>Personal Information</h2>
        </div>
        <div class="form-group col-md-5">
            <!-- <label>Name </label> -->
            <input type="text" class="form-control" placeholder="Enter your full name" formControlName="name">
            <span class="text-danger"
                *ngIf="professionalPersonalFormGroup.controls.name.invalid && professionalPersonalFormGroup.controls.name.touched">This
                Field is Required</span>
        </div>
        <div class="form-group col-md-5">
            <!-- <label>Email ID </label> -->
            <input type="text" class="form-control" placeholder="Enter your active email id" formControlName="emailId">
            <span class="text-danger"
                *ngIf="professionalPersonalFormGroup.controls.emailId.invalid && professionalPersonalFormGroup.controls.emailId.touched">Please
                specify your email id</span>
        </div>
        <div class="form-group col-md-5">
            <!-- <label>Create Password </label> -->
            <input type="password" class="form-control" placeholder="Enter the password" formControlName="password">
            <span class="text-danger"
                *ngIf="professionalPersonalFormGroup.controls.password.invalid && professionalPersonalFormGroup.controls.password.touched">This
                Field is Required</span>
        </div>
        <div class="form-group col-md-5">
            <!-- <label>Mobile Number </label> -->
            <input type="number" class="form-control" placeholder="Enter your mobile number"
                formControlName="mobileNumber">
            <span class="text-danger"
                *ngIf="professionalPersonalFormGroup.controls.mobileNumber.invalid && professionalPersonalFormGroup.controls.mobileNumber.touched">Please
                specify valid mobile number</span>
        </div>
        <div class="form-row col-md-5">
            <!-- <label >Total Work Experiance</label> -->
            <select formControlName="yearExperience" class="form-control">
                <option disabled="" selected="">-- Please select --</option>
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>10+</option>
            </select>
            <label>Year(s)</label>&nbsp;&nbsp;&nbsp;&nbsp;

            <span class="text-danger"
                *ngIf="professionalPersonalFormGroup.controls.yearExperience.invalid && professionalPersonalFormGroup.controls.yearExperience.touched">Please
                specify Experience</span>

            <select formControlName="monthExperience" class="form-control">
                <option disabled="" selected="">-- Please select --</option>
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>10+</option>
            </select>
            <label>Month(s)</label>

            <span class="text-danger"
                *ngIf="professionalPersonalFormGroup.controls.monthExperience.invalid && professionalPersonalFormGroup.controls.monthExperience.touched">Please
                specify Experience</span>
        </div>

        <div class="form-group col-md-5">
            <button class="btn-primary btn-lg" (click)="onRegisterClick()"
            [disabled]="!professionalPersonalFormGroup.valid">Register Now</button>
        </div>
    </form>
</div>



<!-- ------------------------------------ Employment ------------------------------------------------------>

<div class="form-group" align="center" style="margin-top: 50px;" [ngStyle]="displayempoymentdata">
    <form [formGroup]="professionalEmploymentFormGroup">
        <div class="form-group">
            <h2>Employment Information</h2>
        </div>
        <div class="form-group col-md-5">
            <!-- <label>Current Designation </label> -->
            <input type="text" class="form-control" placeholder="Your Job Title" formControlName="jobTitle">
            <span class="text-danger"
                *ngIf="professionalEmploymentFormGroup.controls.jobTitle.invalid && professionalEmploymentFormGroup.controls.jobTitle.touched">This
                Field is Required</span>
        </div>
        <div class="form-group col-md-5">
            <!-- <label>Current Company </label> -->
            <input type="text" class="form-control" placeholder="Where you currenty working"
                formControlName="currentCompany">
            <span class="text-danger"
                *ngIf="professionalEmploymentFormGroup.controls.currentCompany.invalid && professionalEmploymentFormGroup.controls.currentCompany.touched">Please
                specify your email id</span>
        </div>
        <div class="form-row col-md-5">
            <!-- <label >Total Work Experiance</label> -->
            <select formControlName="lakh" class="form-control">
                <option disabled="" selected="">-- Please select --</option>
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>10+</option>
            </select>
            <label>Lakhs</label>&nbsp;&nbsp;

            <span class="text-danger"
                *ngIf="professionalEmploymentFormGroup.controls.lakh.invalid && professionalEmploymentFormGroup.controls.lakh.touched">This
                field is required</span>

            <select formControlName="thousand" class="form-control">
                <option disabled="" selected="">-- Please select --</option>
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>10+</option>
            </select>
            <label>Thousand</label>

            <span class="text-danger"
                *ngIf="professionalEmploymentFormGroup.controls.thousand.invalid && professionalEmploymentFormGroup.controls.thousand.touched">This
                field is required</span>
        </div>

        <div class="form-row col-md-5">
            <!-- <label >Total Work Experiance</label> -->
            <select formControlName="year" class="form-control">
                <option disabled="" selected="">-- Please select --</option>
                <option>2020</option>
                <option>2019</option>
                <option>2018</option>
                <option>2017</option>
                <option>2016</option>
                <option>2015</option>
                <option>2014</option>
                <option>2013</option>
                <option>2012</option>
                <option>2011</option>
            </select>
            <!-- <label>Year(s)</label>&nbsp; -->

            <span class="text-danger"
                *ngIf="professionalEmploymentFormGroup.controls.year.invalid && professionalEmploymentFormGroup.controls.year.touched">Please
                specify Experience</span>

            <select formControlName="month" class="form-control">
                <option disabled="" selected="">-- Please select --</option>
                <option>Jan</option>
                <option>Feb</option>
                <option>Mar</option>
                <option>Apr</option>
                <option>May</option>
                <option>Jun</option>
                <option>Jul</option>
                <option>Aug</option>
                <option>Sep</option>
                <option>Oct</option>
                <option>Nov</option>
                <option>Des</option>
            </select>
            <!-- <label>Month(s)</label> -->

            <span class="text-danger"
                *ngIf="professionalEmploymentFormGroup.controls.month.invalid && professionalEmploymentFormGroup.controls.month.touched">Please
                specify Experience</span>
            
            <label>To</label>

            <select formControlName="presentYear" class="form-control">
                <option disabled="" selected="">-- Please select --</option>
                <option>2020</option>
                <option>2019</option>
                <option>2018</option>
                <option>2017</option>
                <option>2016</option>
                <option>2015</option>
                <option>2014</option>
                <option>2013</option>
                <option>2012</option>
                <option>2011</option>
            </select>
            <span class="text-danger"
                *ngIf="professionalEmploymentFormGroup.controls.presentYear.invalid && professionalEmploymentFormGroup.controls.presentYear.touched">Please specify your Present Year</span>

                <select formControlName="presentMonth" class="form-control">
                    <option disabled="" selected="">-- Please select --</option>
                    <option>Jan</option>
                    <option>Feb</option>
                    <option>Mar</option>
                    <option>Apr</option>
                    <option>May</option>
                    <option>Jun</option>
                    <option>Jul</option>
                    <option>Aug</option>
                    <option>Sep</option>
                    <option>Oct</option>
                    <option>Nov</option>
                    <option>Des</option>
                </select>
                <!-- <label>Month(s)</label> -->
    
                <span class="text-danger"
                    *ngIf="professionalEmploymentFormGroup.controls.presentMonth.invalid && professionalEmploymentFormGroup.controls.presentMonth.touched">Please
                    specify Present Month</span>
        </div>
        <div class="form-group col-md-5">
            <label >Current Location</label>
            <select formControlName="currentLocation" class="form-control">
                <option disabled="" selected="">-- Please select the city --</option>
                <option>Surat</option>
                <option>Ahmedabad</option>
                <option>Vadodra</option>
                <option>Jamnagar</option>
                <option>Anand</option>
            </select>
            <span class="text-danger"
                *ngIf="professionalEmploymentFormGroup.controls.currentLocation.invalid && professionalEmploymentFormGroup.controls.currentLocation.touched">Please
                specify your city</span>
        </div>
        <div class="form-group col-md-5">
            <!-- <label >Duration of Notice Period</label> -->
            <select formControlName="noticePeriod" class="form-control">
                <option disabled="" selected="">-- Please select duration of our notice period --</option>
                <option>15 Days or less</option>
                <option>1 Months</option>
                <option>2 Months</option>
                <option>3 Months</option>
                <option>More than 3 Months</option>
            </select>
            <span class="text-danger"
                *ngIf="professionalEmploymentFormGroup.controls.noticePeriod.invalid && professionalEmploymentFormGroup.controls.noticePeriod.touched">Please
                specify your Notice Period</span>
        </div>
        <div class="form-group col-md-5">
            <!-- <label>Skills </label> -->
            <input type="text" class="form-control" placeholder="Enter your Skill" formControlName="skill">
            <span class="text-danger"
                *ngIf="professionalEmploymentFormGroup.controls.skill.invalid && professionalEmploymentFormGroup.controls.skill.touched">This
                Field is Required</span>
        </div>
        <div class="form-group col-md-5">
            <select class="form-control" formControlName="industry">
                <option disabled value="" selected="">industry</option>
                <option>Accounting/Finance</option>
                <option>Animation</option>
                <option>Banking</option>
                <option>Construction/Engineering</option>
                <option>Export/Import</option>
                <option>Insurance</option>
                <option>IT-Hardware & Networking</option>
                <option>IT-Software/Software Services</option>
                <option>Medical Devices/Equipments</option>
                <option>Mining</option>
            </select>
        </div>
        <div class="form-group col-md-5">
            <select class="form-control" formControlName="functionalArea">
                <option disabled value="" selected="">functionalArea</option>
                <option>Accounts/Finance/Tax/CS</option>
                <option>Agent</option>
                <option>Banking/Insurance</option>
                <option>Architecture</option>
                <option>Engineering Design/R&D</option>
                <option>Technical Staff/Support</option>
                <option>IT Software-Client Server</option>
                <option>IT Software-DBA</option>
                <option>IT Software-ECommerce</option>
                <option>IT Software-Embedded</option>
                <option>IT Software-Middelware</option>
                <option>IT Software-Mobile</option>
            </select>
        </div>
        <div class="form-group col-md-5">
            <select class="form-control" formControlName="role">
                <option disabled value="" selected="">role</option>
                <option>Software Developer</option>
                <option>Team Lead/Tech Lead</option>
                <option>System Analyst</option>
                <option>Tech Architect</option>
                <option>Database Architect/Designer</option>
                <option>DBA</option>
                <option>Network Admin</option>
                <option>System Admin</option>
                <option>Business Analyst</option>
                <option>QA</option>
            </select>
        </div>
        <div class="form-group col-md-5">
            <button class="btn-primary btn-lg" (click)="onContinue()" [disabled]="!professionalEmploymentFormGroup.valid">Continue</button>
        </div>

    </form>
</div>


   <!-- -----------------------------------------education------------------------------------------------ -->

   <div class="form-group" align="center" style="margin-top: 50px;" [ngStyle]="displayeducationdata">
    <form [formGroup]="professipnalEducationFormGroup">
        <div class="form-group">
            <h2>Education Information</h2>
        </div>
        <div class="form-group col-md-5">
            <!-- <label >   Higest Qualification</label> -->
            <select formControlName="qualification" class="form-control">
                <option disabled="" selected="">-- Select your  Higest Qualification --</option>
                <option>Doctor/PhD</option>
                <option>Masters/Post-Graduation</option>
                <option>Graduation/Diploma</option>
                <option>12th</option>
                <option>10th</option>
                <option>Below 10th</option>
            </select>
            <span class="text-danger" *ngIf="professipnalEducationFormGroup.controls.qualification.invalid && professipnalEducationFormGroup.controls.qualification.touched">Please specify your Highest Qualification</span>
        </div>
        <div class="form-group col-md-5">
            <!-- <label>Course </label> -->
            <input type="text" class="form-control" placeholder="Enter your Course" formControlName="course">
            <span class="text-danger" *ngIf="professipnalEducationFormGroup.controls.course.invalid && professipnalEducationFormGroup.controls.course.touched">This Field is Required</span>
        </div>
        <div class="form-group col-md-5">
            <!-- <label>Specializaion </label> -->
            <input type="text" class="form-control" placeholder="Enter your Specialization" formControlName="specialization">
            <span class="text-danger" *ngIf="professipnalEducationFormGroup.controls.specialization.invalid && professipnalEducationFormGroup.controls.specialization.touched">This Field is Required</span>
        </div>
        <div class="form-group col-md-5">
            <!-- <label>University/College </label> -->
            <input type="text" class="form-control" placeholder="Enter your Collage Name" formControlName="college">
            <span class="text-danger" *ngIf="professipnalEducationFormGroup.controls.college.invalid && professipnalEducationFormGroup.controls.college.touched">This Field is Required</span>
        </div>
        <div class="form-group col-md-5">
            <!-- <label >   Higest Qualification</label> -->
            <select formControlName="courseType" class="form-control">
                <option disabled="" selected="">-- Select your  Course Type --</option>
                <option>Full Time</option>
                <option>Part Time</option>
                <option>Correspondence</option>
            </select>
            <span class="text-danger" *ngIf="professipnalEducationFormGroup.controls.courseType.invalid && professipnalEducationFormGroup.controls.courseType.touched">Please specify your Course Type</span>
        </div>
        <div class="form-group col-md-5">
            <!-- <label >   Passing Year</label> -->
            <select formControlName="passingYear" class="form-control">
                <option disabled="" selected="">-- Select your  Passing Year --</option>
                <option>2020</option>
                <option>2019</option>
                <option>2018</option>
                <option>2017</option>
                <option>2016</option>
                <option>2015</option>
                <option>2014</option>
                <option>2013</option>
                <option>2012</option>
                <option>2011</option>
            </select>
            <span class="text-danger" *ngIf="professipnalEducationFormGroup.controls.passingYear.invalid && professipnalEducationFormGroup.controls.passingYear.touched">Please specify your Passing Year</span>
        </div>
        
        <div class="form-group col-md-5">       
            <button class="btn-primary btn-lg" (click)="onEducation()" [disabled]="!professipnalEducationFormGroup.valid">Continue</button>
        </div>
    </form>
</div>